@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body {
        background-image: linear-gradient(to top, #080808, #272928);
    }

    #login {
        width: 700px;
        height: 350px;
    }

    #login p {
        padding-bottom: 30px;
    }

    #login #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 70%;
    }

    form #enviar {
        padding-top: 20px;
    }

    form input[type="submit"] {
        width: 250px;
        justify-self: center;
    }

    form .botao {
        width: 250px;
        justify-self: center;
    }
}

@media screen and (min-width: 992px){
    body {
        background-image: linear-gradient(to top, #080808, #272928);
    }
    
    #login {
        width: 950px;
        height: 350px;
    }

    #login p {
        padding-bottom: 30px;
    }

    #login #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login #formulario {
        float: left;
        width: 50%;
    }

    form #enviar {
        padding-top: 20px;
    }

    form input[type="submit"] {
        width: 300px;
        justify-self: center;
    }

    form .botao {
        width: 300px;
        justify-self: center;
    }
}